#about {
  margin-top: 73px;
  width: 100vw;
  height: auto;
  color: var(--contrast);
  font-size: 30px;
  padding: 50px;
}

#mts-img {
  width: 300px;
  border-radius: 100px;
}

#mts-header {
  text-align: left;
  margin: auto;
  min-width: 368px;
}

#img-box {
  min-width: 395px;
}

#mts-title {
  font-size: 40px;
  background-color: var(--pink);
  padding: 5px 0px;
  width: 350px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: -100px;
  color: var(--light-tan);
  font-family: "Julius Sans One", sans-serif;
}

#mts-desc {
  font-size: 22px;
  font-family: "Gabarito", sans-serif;
}

/* L */
@media (max-width: 1024px) {
  #mts-header {
    text-align: center;
    margin-top: 50px;
  }

  #mts-title {
    margin: auto;
    margin-bottom: 30px;
  }

  #mts-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100px;
  }

  #about-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* XS */
@media (max-width: 475px) {
  #mts-img {
    width: 250px;
    height: 250px;
    border-radius: 50px;
  }

  #mts-title {
    font-size: 30px;
    width: 270px;
  }

  #mts-desc {
    font-size: 18px;
  }

  #mts-header {
    min-width: 200px;
    max-width: 300px;
    padding: 0px;
    text-align: center;
  }
}
