#admin-private {
  background-color: var(--light-teal);
  color: var(--contrast);
  font-family: "Gabarito", sans-serif;
  margin-top: 70px;
  padding: 20px;
  height: auto;
}

.admin-button {
  margin: 10px;
  background-color: var(--contrast);
}

#joy {
  /* margin: 30px 300px 50px 300px; */
  color: var(--teal);
  background-color: var(--light-teal);
  padding: 50px;
  font-family: "Gabarito", sans-serif;
}

#joy-background {
  background-color: var(--contrast);
  margin-bottom: -10px;
}
