#admin-services {
  background-color: var(--teal);
  height: auto;
  padding: 50px 0px;
}

.service-title {
  font-size: 30px;
}

.service-box {
  border: 0.1px var(--light-teal) solid;
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 200px;
  background-color: var(--light-tan);
  border-radius: 5px;
  box-shadow: 2px 2px rgba(36, 35, 35, 0.779), 1px 1px rgba(36, 35, 35, 0.379);
  max-width: 232px;
}
