#admin-private {
  background-color: var(--light-teal);
  color: var(--contrast);
  font-family: "Gabarito", sans-serif;
  margin-top: 70px;
  height: auto;
  padding: 30px;
}

.admin-button {
  margin: 10px;
}

#joy {
  margin: 100px;
  color: var(--pink);
}
