#admin-events {
  background-color: var(--teal);
  height: auto;
  font-family: "Gabarito", sans-serif;
  padding: 50px;
}

.buttons-box {
  background-color: rgba(255, 255, 255, 0.56);
}

.event-header {
  font-size: 30px;
  margin-top: 30px;
  color: var(--contrast);
}

.event-title {
  font-family: "Gabarito", sans-serif;
  background-color: rgba(255, 255, 255, 0.56);
  margin: 0px;
}

.event-info {
  font-family: "Gabarito", sans-serif;
  font-size: 20px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.56);
  padding: 20px;
}

.event-box {
  max-width: 400px;
  min-width: 400px;
  margin: 30px;
  height: fit-content;
  box-shadow: 2px 2px rgba(36, 35, 35, 0.779), 1px 1px rgba(36, 35, 35, 0.379);
}

#events-rows {
  display: flex;
  justify-content: center;
}
