#admin-private {
  background-color: var(--light-teal);
  color: var(--contrast);
  font-family: "Gabarito", sans-serif;
  margin-top: 70px;
  padding: 20px;
  height: auto;
}

.admin-button {
  margin: 10px;
}

#joy {
  margin: 30px 300px 50px 300px;
  color: var(--contrast);
  background-color: rgba(227, 101, 79, 0.3);
  padding: 50px;
}
