@import url("https://fonts.googleapis.com/css2?family=Gabarito&family=Julius+Sans+One&family=Style+Script&display=swap");

body {
  background-color: var(--light-tan);
  text-align: center;
}

.App {
  text-align: center;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.button-style {
  background-color: var(--teal);
  border: none;
  color: white;
  font-family: "Gabarito", sans-serif;
  padding: 4px 8px;
  border-radius: 5px;
}

.button-style:hover {
  background-color: rgb(33, 60, 68);
}

#error-header {
  margin: 50px;
}

.current-page h3 {
  text-decoration: underline var(--pink) 2px;
  text-underline-offset: 3px;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#loading {
  padding: 100px;
}

.main-loading {
  width: 500px;
}

/* 2XL */
@media (max-width: 1536px) {
  .container {
    max-width: 1288px;
  }
}

/* XL */
@media (max-width: 1288px) {
  .container {
    max-width: 1024px;
  }
}

/* L */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* M */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* S */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* XS */
@media (max-width: 475px) {
  .container {
    max-width: 100%;
  }
}
