@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Bebas+Neue&family=Gabarito&family=Julius+Sans+One&family=Playfair+Display&family=Raleway:wght@300&family=Source+Sans+3:wght@200&family=Yeseva+One&display=swap");

body {
  background-color: #ffffff;
}

.App {
  text-align: center;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

#error-header {
  margin: 50px;
}

.current-page h3 {
  text-decoration: underline var(--pink) 2px;
  text-underline-offset: 3px;
}
