#contact {
  margin-top: 73px;
  width: 100vw;
  color: var(--contrast);
  font-size: 30px;
  font-family: "Gabarito", sans-serif;
}

#contact-body {
  background-color: var(--light-tan);
  position: relative;
  z-index: 15;
  margin-top: -100px;
  height: auto;
  padding: 50px 100px;
}

#pinterest-link img {
  max-width: 50px;
  min-width: 50px;
  height: 50px;
}

#pinterest-link p {
  color: var(--contrast);
}

.contact-col {
  background-color: var(--overlay);
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  margin: 10px;
  max-width: fit-content;
  min-width: fit-content;
}

.contact-col p {
  margin-left: 10px;
}

.contact-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#instagram-section {
  font-size: 25px;
  margin-top: 50px;
}

@media (max-width: 700px) {
  .contact-col h1 {
    font-size: 20px;
  }

  .contact-col p {
    font-size: 18px;
  }
}

@media (max-width: 530px) {
  #contact-body {
    padding: 50px;
  }
}

@media (max-width: 450px) {
  #contact-body {
    padding: 20px;
  }
}
