#edit-photo {
  background-color: var(--light-teal);
}

#image-display {
  float: right;
}

.current-price {
  padding: 0px;
  margin-bottom: 3px;
}

#description-input {
  height: 200px;
  width: 300px;
}
