#footer {
  text-align: left;
  background-color: var(--light-teal);
  height: auto;
  padding: 50px;
  width: 100%;
}

.footer-contact {
  font-size: 20px;
  color: var(--teal);
}

.footer-contact a {
  color: var(--teal);
  text-decoration: underline;
}

.footer-img {
  margin-right: 20px;
}

.icon-attribute {
  color: var(--teal) !important;
  font-size: 12px;
}
