#home {
  margin-top: 73px;
  width: 100vw;
  color: var(--contrast);
  font-size: 30px;
  font-family: "Julius Sans One", sans-serif;
}

.home-header {
  width: 100vw;
  height: 440px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.home-image {
  height: 440px;
  object-fit: cover;
}

.home-overlay {
  position: relative;
  top: -445px;
  width: 100%;
  height: 500px;
  padding: 100px;
  background-color: var(--overlay);
}

#animated-logo:hover {
  cursor: pointer;
}
#instagram-home-section {
  background-color: rgba(36, 35, 35, 0.115);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-radius: 2px;
  overflow: hidden;
}

#tagline {
  background-color: var(--teal);
  padding: 50px;
  color: var(--light-tan);
}

#home-event-section {
  height: auto;
  padding: 100px 30px 100px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--contrast);
}

#home-booking-section {
  background-color: var(--teal);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--light-tan);
}

#home-booking-section a {
  color: var(--light-teal);
  text-decoration: underline;
}

#home-booking-section h3 {
  font-family: "Gabarito", sans-serif;
  font-size: 24px;
  margin: 20px;
}

#home-reviews-section {
  height: auto;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lighter-tan);
  color: var(--contrast);
  overflow: hidden;
}

#home-reviews-section h1 {
  margin: 30px;
  overflow: hidden;
}

.home-event-box {
  min-width: 300px;
  max-width: 300px;
  margin: 30px;
  border: 1px solid var(--contrast);
  padding: 20px;
  border-radius: 2px;
}

.event-home-title {
  font-size: 20px;
  font-family: "Gabarito", sans-serif;
}

.event-home-info {
  font-size: 16px;
  font-family: "Gabarito", sans-serif;
  margin: 0px;
}

a.event-home-info {
  color: var(--pink) !important;
}

a.event-home-info:hover {
  text-decoration: underline;
}

#location-map {
  background-color: var(--light-tan);
  position: relative;
  z-index: 15;
  padding: 30px 100px;
}

#address-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  font-family: "Gabarito", sans-serif;
  color: var(--contrast);
  text-decoration: underline;
  margin: auto;
  width: 150px;
}

.address:hover {
  color: var(--teal);
  cursor: pointer;
}

#address-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 100px;
}

#location-icon {
  min-width: 64px;
  max-width: 64px;
  max-height: 64px;
}

#no-events {
  font-family: "Gabarito", sans-serif;
  font-size: 18px;
  padding: 50px;
}

/* Single Event Styling */
#single-event {
  margin-top: 73px;
  background-color: var(--light-tan);
}

#se-hero {
  width: 100%;
  padding: 100px 0px;
}

#single-event-main {
  margin: 50px 100px;
  outline: 1px var(--contrast) solid;
  border-radius: 2px;
  padding: 50px 100px;
}

#event-maps-link {
  color: var(--teal);
  font-size: 25px;
}

#event-maps-link:hover {
  text-decoration: underline;
}

#event-back {
  color: var(--contrast);
  position: absolute;
  font-family: "Gabarito", sans-serif;
  font-size: 20px;
  left: 10px;
  top: 280px;
}

#event-title-single {
  font-family: "Julius Sans One", sans-serif;
}

/* 2XL */
@media (max-width: 1536px) {
}

/* XL */
@media (max-width: 1288px) {
}

/* L */
@media (max-width: 1024px) {
  #animated-logo {
    width: 300px;
    padding-top: 80px;
    padding-bottom: 64px;
  }

  #iframe-col {
    min-width: 100%;
  }

  #event-back {
    top: 180px;
  }

  #location-map {
    padding: 30px;
  }
}

/* M */
@media (max-width: 768px) {
  #home-reviews-section {
    padding: 50px;
  }

  #single-event-main {
    margin: 50px 20px;
    padding: 20px 50px;
  }

  #location-map {
    padding: 30px 0px;
  }
}

/* S */
@media (max-width: 640px) {
  #address-div {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  /* #home-reviews-section {
    padding: 20px 0px;
  } */
}

/* XS */
@media (max-width: 490px) {
  .home-overlay {
    padding: 100px 5vw;
  }
}

@media (max-width: 340px) {
  #animated-logo {
    width: 200px;
  }

  .home-image {
    height: 250px;
  }

  .home-overlay {
    top: -330px;
  }
}
