#home {
  margin-top: 73px;
  width: 100vw;
  color: var(--teal);
  font-size: 30px;
  font-family: "Julius Sans One", sans-serif;
}

.home-header {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.home-image {
  height: 440px;
  object-fit: cover;
}

.home-overlay {
  position: relative;
  top: -445px;
  width: 100%;
  height: 500px;
  padding: 100px;
  background-color: var(--overlay);
}

#animated-logo:hover {
  cursor: pointer;
}

#home-event-section {
  height: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-event-box {
  min-width: 300px;
  max-width: 300px;
  margin: 30px;
}

.event-home-title {
  font-size: 20px;
  font-family: "Gabarito", sans-serif;
}

.event-home-info {
  font-size: 16px;
  font-family: "Gabarito", sans-serif;
  margin: 0px;
}
