body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --a-1: rgb(160, 54, 25);
  --a-2: rgb(242, 199, 170);
  --a-3: rgb(33, 22, 20);
  --a-4: rgb(143, 114, 91);
  --a-5: rgb(69, 72, 69);
  --a-6: rgb(124, 140, 125);
  --b-1: rgb(21, 49, 58);
  --b-2: rgb(18, 103, 130);
  --b-3: rgb(78, 128, 128);
  --b-4: rgb(180, 108, 77);
  --b-5: rgb(136, 133, 115);
  --b-6: rgb(114, 158, 174);
  --c-1: rgba(65, 80, 89, 255);
  --c-2: rgba(190, 91, 68, 255);
  --c-3: rgb(89, 90, 101);
  --c-4: rgb(143, 146, 157);
  --c-5: rgb(39, 36, 37);
  --c-6: rgba(251, 226, 207, 255);
  --d-1: rgb(157, 180, 186);
  --d-2: rgb(60, 84, 92);
  --d-3: rgb(36, 35, 35);
  --d-4: rgb(226, 187, 182);
  --d-5: ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
