body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --pink: rgb(160, 54, 25);
  --light-pink: rgb(242, 199, 170);
  --brown: rgb(33, 22, 20);
  --light-brown: rgb(143, 114, 91);
  --gray: rgb(69, 72, 69);
  --green: rgb(124, 140, 125);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
