body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --light-teal: rgb(175, 192, 197);
  --teal: rgb(50, 87, 98);
  --contrast: rgb(36, 35, 35);
  --pink: rgb(228, 99, 76);
  --light-tan: rgb(242, 230, 210);
  --lighter-tan: rgb(255, 248, 236);
  --overlay: rgba(227, 101, 79, 0.3);
}

div.prev {
  top: 50px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #325560;
}

@media (max-width: 1024px) {
  body {
    margin-top: -100px;
  }
}
