.header-title {
  font-size: 60px;
}

.header-sub {
  font-size: 20px;
}

.container {
  padding: 50px;
}

.julius-so {
  font-family: "Julius Sans One", sans-serif;
}

.raleway {
  font-family: "Gabarito", sans-serif;
}

.photos {
  overflow: hidden;
}

.palette {
  margin-top: 73px;
  height: 170px;
  overflow: hidden;
}

.color-box {
  height: 120px;
  width: 100px;
  margin: 30px;
  transition: margin 0.2s ease-in;
}

.color-box:hover {
  margin-top: 25px;
  margin-bottom: 35px;
  cursor: pointer;
}

.color-palette {
  height: 180px;
  margin-top: 200px;
}

.background-button {
  position: fixed;
  background-color: var(--a-1);
  color: white;
  box-shadow: 2px 2px var(--a-5);
  outline: none;
  border: none;
  border-radius: 4px;
  float: right;
  top: 260px;
  left: 20px;
}

.a-one {
  background-color: var(--a-1);
}

.a-two {
  background-color: var(--a-2);
}

.a-three {
  background-color: var(--a-3);
}

.a-four {
  background-color: var(--a-4);
}

.a-five {
  background-color: var(--a-5);
}

.a-six {
  background-color: var(--a-6);
}

.b-one {
  background-color: var(--b-1);
}

.b-two {
  background-color: var(--b-2);
}

.b-three {
  background-color: var(--b-3);
}

.b-four {
  background-color: var(--b-4);
}

.b-five {
  background-color: var(--b-5);
}

.b-six {
  background-color: var(--b-6);
}

.c-one {
  background-color: var(--c-1);
}

.c-two {
  background-color: var(--c-2);
}

.c-three {
  background-color: var(--c-3);
}

.c-four {
  background-color: var(--c-4);
}

.c-five {
  background-color: var(--c-5);
}

.c-six {
  background-color: var(--c-6);
}

.d-one {
  background-color: var(--d-1);
}

.d-two {
  background-color: var(--d-2);
}

.d-three {
  background-color: var(--d-3);
}

.d-four {
  background-color: var(--d-4);
}
