.header-title {
  font-size: 60px;
}

.header-sub {
  font-size: 20px;
}

.container {
  padding: 50px;
}

.julius-so {
  font-family: "Julius Sans One", sans-serif;
}

.raleway {
  font-family: "Gabarito", sans-serif;
}

.photos {
  overflow: hidden;
}

.palette {
  margin-top: 73px;
  height: 170px;
  overflow: hidden;
}

.color-box {
  height: 120px;
  width: 100px;
  margin: 30px;
  transition: margin 0.2s ease-in;
}

.color-box:hover {
  margin-top: 25px;
  margin-bottom: 35px;
  cursor: pointer;
}

.color-palette {
  height: 180px;
  margin-top: 200px;
}

.background-button {
  position: fixed;
  background-color: var(--teal);
  color: white;
  box-shadow: 2px 2px var(--light-teal);
  outline: none;
  border: none;
  border-radius: 4px;
  float: right;
  top: 260px;
  left: 20px;
}

.contrast {
  background-color: var(--contrast);
}

.pink {
  background-color: var(--pink);
}

.light-teal {
  background-color: var(--light-teal);
}

.teal {
  background-color: var(--teal);
}

.light-tan {
  background-color: var(--light-tan);
}
