nav {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--teal);
  z-index: 2;
}

#nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin: 0px;
  width: 70vw;
}

.nav-li {
  padding: 0px 20px;
}

.nav-li h3 {
  color: var(--contrast);
  font-size: 18px;
  background-image: linear-gradient(var(--teal), var(--teal));
  background-size: 0% 0.1em;
  background-position-x: 0%;
  background-position-y: 104%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.nav-li:hover {
  cursor: pointer;
}

.nav-li h3:hover,
.nav-li h3:focus,
.nav-li h3:active {
  background-size: 100% 0.1em;
}

#cta-button {
  background-color: var(--teal);
  color: white;
  box-shadow: 2px 2px var(--teal);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 10px;
  float: right;
}

#cta-button:hover {
  box-shadow: 1px 1px var(--light-teal);
  background-color: var(--light-teal);
}

#nav-logo {
  margin: 10px;
}

a {
  color: white;
  text-decoration: none;
}
