#portfolio {
  width: 100%;
  height: auto;
  font-size: 30px;
  padding: 50px 100px;
  font-family: "Julius Sans One", sans-serif;
  background-color: var(--light-tan);
  z-index: 20;
  margin-top: 73px;
}

#gallery-hero-text {
  position: absolute;
  font-family: "Julius Sans One", sans-serif;
  height: 300px;
  top: -10px;
  left: 0px;
  z-index: 10;
  color: var(--light-tan);
  text-align: left;
  background-color: var(--overlay);
  padding: 210px 100px 200px 100px;
  width: 100%;
}

#gallery-header-row {
  margin-bottom: 50px;
}


#gallery-image-one {
  background-size: cover;
  background-position: 0 -480px;
  z-index: -1;
  height: 450px;
  margin-top: -50px;
  background-image: url("https://res.cloudinary.com/dawteptkh/image/upload/v1767393278/IMG_0139_wvyslp.jpg");
}

.gallery-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#wedding-title {
  color: var(--pink);
}

#wedding-container {
  padding: 0px 150px;
}

#colors-title {
  color: var(--pink);
}

#wedding-row {
  margin-top: 100px;
}

#color-container {
  padding: 0px 150px;
}

@media (max-width: 1024px) {
  #gallery-image-one {
    background-position: 0px 0px;
  }

  #gallery-hero-text {
    padding-top: 100px;
    top: 0;
  }
}

@media (max-width: 800px) {
  #portfolio {
    padding: 20px 0px;
  }

  #colors-row {
    margin-top: 20px;
  }

  #wedding-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    min-width: 100%;
  }

  #color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  #service-image-one {
    background-position: 0 0;
    width: 100%;
  }
}
