#portfolio {
  margin-top: 73px;
  width: 100vw;
  height: 800px;
  color: var(--pink);
  font-size: 30px;
}

.img-style-cover {
  width: 500px;
}

.img-style-small {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-area: 500px / 620px;
}
