#services {
  margin-top: 73px;
  width: 100vw;
  height: auto;
  color: var(--contrast);
  font-size: 30px;
  font-family: "Gabarito", sans-serif;
}

#service-list {
  list-style: none;
}

.service-li {
  color: var(--contrast);
  background-color: white;
  margin: 20px;
  padding: 20px;
  min-width: 200px;
  max-width: 250px;
  border-radius: 5px;
}

.service-header {
  font-size: 20px;
  padding: 10px;
}

.service-description {
  font-size: 15px;
}

.service-price {
  font-size: 15px;
  color: var(--pink);
}
